@import "../../../styles/main.scss";

.whoUse {
    margin: 100px 0;

    @media (max-width: 576px) {
        margin: 80px 0;
    }

    .WhoUseDiv {
        padding: 120px 0;
        border-radius: 30px;
        background: #111427b2;

        @media (max-width: 1024px) {
            padding: 80px 0;
        }

        @media (max-width: 576px) {
            padding: 40px 0;
        }

        .WhoUseDivHead {
            margin: 0 auto 60px auto;
            max-width: 840px;
            text-align: center;

            @media (max-width: 576px) {
                margin-bottom: 40px;
            }

            h2 {
                margin-bottom: 15px;
                background: -webkit-linear-gradient(180deg, #bfabff 0%, #efebff 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                font-weight: 600;
                line-height: 50px;

                @media (max-width: 576px) {
                    font-size: 28px;
                    line-height: 38px;
                }
            }

            p {
                max-width: 525px;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: #bfbfbf;
                margin: 0 auto;

                @media (max-width: 576px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        .whoUseList {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            .whoUseBox {
                padding: 30px;
                border: 1px solid #2f354b;
                background: #111427b2;
                border-radius: 22px;
                display: flex;
                gap: 40px 25px;

                @media (max-width: 1400px) {
                    flex-direction: column;
                }

                @media (max-width: 768px) {
                    max-width: 500px;
                    margin: 0 auto;
                }

                @media (max-width: 576px) {
                    padding: 20px;
                }

                .whoUseBoxImg {
                    width: 100%;
                    max-width: 300px;
                    height: 300px;

                    @media (max-width: 1400px) {
                        max-width: none;
                    }

                    @media (max-width: 576px) {
                        height: auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        object-fit: cover;
                    }
                }

                .whoUseBoxContent {
                    width: 100%;
                    max-width: 370px;

                    @media (max-width: 1400px) {
                        max-width: none;
                        display: flex;
                        gap: 20px;
                    }

                    @media (max-width: 1024px) {
                        flex-direction: column;
                    }

                    .whoUseIcon {
                        margin-bottom: 60px;
                        flex-shrink: 0;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(85.93deg, #00c0ff 0%, #4218b8 100%);

                        @media (max-width: 1024px) {
                            margin-bottom: 0;
                        }

                        @media (max-width: 576px) {
                            width: 50px;
                            height: 50px;
                        }

                        svg {
                            width: 30px;
                            height: 30px;

                            @media (max-width: 576px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .whoUseBoxText {
                        h3 {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            color: #ffffff;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            color: #bfbfbf;
                            margin-top: 12px;

                            @media (max-width: 576px) {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
