.loginSignin {
    button {
        padding: 14px 30px;
        border-radius: 60px;
        cursor: pointer;
        border: none;
        position: relative;
        background-color: transparent;

        span {
            position: relative;
            z-index: 3;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }

        @media (max-width: 1100px) {
            padding: 15px 20px;
        }

        @media (max-width: 576px) {
            padding: 12px 24px;
        }
    }

    .signinBtn {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }

    .loginBtn {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.loginSignin2 {
    button {
        padding: 14px 30px;
        border-radius: 60px;
        cursor: pointer;
        border: none;
        position: relative;
        background-color: transparent;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: #fff;
        }
    }

    .signinBtn {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }

    .loginBtn {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxBatch {
    button {
        position: relative;
        padding: 11px 20px;
        border-radius: 68px;
        color: #fff;
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        svg {
            width: 30px;
            position: relative;
            z-index: 2;

            @media (max-width: 576px) {
                width: 25px;
                height: 25px;
            }
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxInnerBtn {
    button {
        position: relative;
        padding: 14px 30px;
        border-radius: 68px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxInnerBtn2,
.powerfulDivHead,
.footerForm,
.planDivPrice {
    button {
        padding: 14px 30px;
        border-radius: 68px;
        color: #fff;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        background-color: transparent;
        position: relative;

        @media (max-width: 1120px) {
            padding: 15px 20px;
        }

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 0;
            }
        }
    }
}

.plansDivBox1Select {
    button {
        padding: 14px 30px;
        border-radius: 28px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &:first-child {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                border-radius: 60px;
                background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
