@import "./typography";

.loginSignin,
.loginSignin2 {
    button {
        position: relative;
        padding: 14px 30px;
        border-radius: 60px;
        border: none;
        background-color: #0e1020;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            @include fontBtn;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .signinBtn {
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            z-index: 1;
            padding: 2px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            background: #0e1020;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    .loginBtn {
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            z-index: 1;
            padding: 2px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            background: #0e1020;
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
}

.loginSignin {
    button {
        @media (max-width: 1200px) {
            padding: 12px 20px;
        }
    }
}

.aiBoxBatch {
    button {
        position: relative;
        padding: 11px 20px;
        border-radius: 68px;
        color: #fff;
        cursor: pointer;
        border: none;
        background-color: #0e1020;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg {
            width: 30px;
            position: relative;
            z-index: 2;

            @media (max-width: 576px) {
                width: 25px;
                height: 25px;
            }
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            @include fontBtn;
            color: #fff;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            z-index: 1;
            padding: 2px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            background: #0e1020;
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
}

.aiBoxInnerBtn {
    button {
        position: relative;
        padding: 14px 30px;
        border-radius: 68px;
        border: none;
        background-color: #0e1020;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            @include fontBtn;
            color: #fff;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 68px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            z-index: 1;
            padding: 2px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            background: #0e1020;
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
}

.aiBoxInnerBtn2,
.powerfulDivHead,
.footerForm,
.planDivPrice {
    button {
        padding: 14px 30px;
        border-radius: 68px;
        color: #fff;
        position: relative;
        border: none;
        background-color: #0e1020;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            @include fontBtn;
            color: #fff;
            text-transform: uppercase;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.5s ease-in-out;
        }

        &::after {
            z-index: 1;
            padding: 2px;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            background: #0e1020;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.plansDivBox1Select {
    button {
        padding: 14px 30px;
        border-radius: 28px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 576px) {
            padding: 12px 24px;
        }

        span {
            position: relative;
            z-index: 3;
            @include fontBtn;
            color: #fff;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 28px;
            opacity: 0;
            z-index: 1;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.5s ease-in-out;
        }

        &.active {
            &::after {
                opacity: 1;
            }
        }
    }
}
