.loginSignin {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
        padding: 16px 30px;
        border-radius: 60px;
        cursor: pointer;
        border: none;
        position: relative;
        background-color: transparent;

        span {
            position: relative;
            z-index: 3;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        @media (max-width: 1120px) {
            padding: 15px 20px;
        }

        @media (max-width: 576px) {
            padding: 12px 18px;
        }
    }

    .signinBtn {
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.6s ease-in-out;
        }

        &::after {
            z-index: 1;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            opacity: 0;
            background: linear-gradient(82deg, #421bb8 0%, #00c0ff 100%);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    .loginBtn {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.6s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxBatch {
    button {
        position: relative;
        padding: 11px 20px;
        border-radius: 68px;
        color: #fff;
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 576px) {
            padding: 12px 18px;
        }

        svg {
            max-width: 30px;
            position: relative;
            z-index: 2;
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.6s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxInnerBtn {
    button {
        position: relative;
        padding: 16px 30px;
        border-radius: 68px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        @media (max-width: 576px) {
            padding: 12px 18px;
        }

        svg {
            max-width: 30px;
            position: relative;
            z-index: 2;
        }

        span {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            opacity: 0;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            transition: all 0.6s ease-in-out;
        }

        &::before {
            content: "";
            border-radius: 60px;
            padding: 2px;
            z-index: 2;
            inset: 0;
            position: absolute;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.aiBoxInnerBtn2,
.powerfulDivHead,
.footerForm,
.planDivPrice {
    button {
        padding: 16px 30px;
        border-radius: 68px;
        color: #fff;
        cursor: pointer;
        border: none;
        background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        text-transform: uppercase;
        background-color: transparent;
        position: relative;

        @media (max-width: 1120px) {
            padding: 15px 20px;
        }

        @media (max-width: 576px) {
            padding: 12px 18px;
        }

        span {
            position: relative;
            z-index: 3;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 60px;
            transition: all 0.6s ease-in-out;
        }

        &::after {
            z-index: 1;
            background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
        }

        &::before {
            z-index: 2;
            opacity: 0;
            background: linear-gradient(82deg, #421bb8 0%, #00c0ff 100%);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}


.plansDivBox1Select {
    button {
        padding: 16px 30px;
        border-radius: 28px;
        background: transparent;
        cursor: pointer;
        border: none;
        position: relative;

        @media (max-width: 576px) {
            padding: 12px 18px;
        }

        span {
            position: relative;
            z-index: 3;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &:first-child {
            background-color: transparent;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 60px;
                transition: all 0.6s ease-in-out;
            }

            &::after {
                z-index: 1;
                background: linear-gradient(82deg, #00c0ff 0%, #421bb8 100%);
            }

            &::before {
                z-index: 2;
                opacity: 0;
                background: linear-gradient(82deg, #421bb8 0%, #00c0ff 100%);
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
