// 1480px
.container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 576px) {
        padding: 0 20px;
    }
}

// 1860px
.container2 {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: 576px) {
        padding: 0 20px;
    }
}
