* {
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #060610;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

@media (max-width: 576px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        word-break: break-word;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}

/* .no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
    background: var(--bg-sidebar);
} */
