@import "../../../styles/main.scss";

.whyChoose {
    .whyChooseDiv {
        padding: 70px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        position: relative;

        @media (max-width: 576px) {
            padding: 0;
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
        }

        &::after,
        &::before {
            position: absolute;
            content: "";
            border-radius: 50%;
            border: 1px solid #2f354b;
            aspect-ratio: 1 / 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
        }

        &::after {
            width: 100%;
            max-width: 740px;
        }

        &::before {
            width: calc(100% - 40px);
            max-width: 660px;
        }

        .whyChooseBox {
            display: flex;
            flex-direction: column;
            gap: 100px 20px;
            justify-content: space-between;

            @media (max-width: 1024px) {
                flex-direction: row;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }

            @media (max-width: 576px) {
                gap: 20px;
            }

            .whyChooseBoxDiv {
                background: #0e1020;
                border: 1px solid #2f354b;
                border-radius: 20px;
                padding: 30px;

                @media (max-width: 1024px) {
                    max-width: 480px;
                    width: 100%;
                }

                @media (max-width: 576px) {
                    padding: 20px;
                }

                .whyChooseBoxHead {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 24px;
                    margin-bottom: 25px;

                    @media (max-width: 576px) {
                        margin-bottom: 20px;
                    }

                    .whyChooseIcon {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(85.93deg, #00c0ff 0%, #4218b8 100%);

                        @media (max-width: 576px) {
                            width: 50px;
                            height: 50px;
                        }

                        svg {
                            width: 30px;
                            height: 30px;

                            @media (max-width: 576px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    h3 {
                        min-width: 240px;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 29px;
                        color: #fff;

                        @media (max-width: 576px) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    color: #bfbfbf;
                }
            }
        }

        .whyChooseHead {
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                background: -webkit-linear-gradient(180deg, #bfabff 0%, #efebff 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                font-weight: 600;
                line-height: 60px;
                text-align: center;
                max-width: 300px;

                @media (max-width: 576px) {
                    font-size: 30px;
                    line-height: 50px;
                }
            }
        }
    }
}
